@charset "UTF-8";

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  font-display: swap;
  src: url("../fonts/RobotoMono-Regular.woff") format("woff"), url("../fonts/RobotoMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  font-display: swap;
  src: url("../fonts/RobotoMono-Medium.woff") format("woff"), url("../fonts/RobotoMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Pobeda";
  font-display: swap;
  src: url("../fonts/pobeda-regular.woff") format("woff"), url("../fonts/pobeda-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pobeda";
  font-display: swap;
  src: url("../fonts/pobeda-bold.woff") format("woff"), url("../fonts/pobeda-bold.woff2") format("woff2");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Red October";
  font-display: swap;
  src: url("../fonts/RedOctober-Fat.woff") format("woff"), url("../fonts/RedOctober-Fat.woff2") format("woff2");
  font-weight: 900;
  font-style: fat;
}

@font-face {
  font-family: "Red October";
  font-display: swap;
  src: url("../fonts/RedOctober-Regular.woff") format("woff"), url("../fonts/RedOctober-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
}

.sliderLong:before,
.sliderLong:after {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: 0;
  display: block;
  width: 21.75rem;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ECE3D2), to(rgba(236, 227, 210, 0)));
  background: -o-linear-gradient(left, #ECE3D2 0%, rgba(236, 227, 210, 0) 100%);
  background: linear-gradient(90deg, #ECE3D2 0%, rgba(236, 227, 210, 0) 100%);
}

.sliderLong:before {
  left: -21.5625rem;
}

.sliderLong:after {
  right: -21.5625rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sliderLong .slick-list {
  overflow: inherit;
}

.sliderLong .slick-arrow {
  top: calc(50% - 1.375rem);
}

.sliderLong .slick-prev {
  left: -6.3125rem;
}

.sliderLong .slick-next {
  right: -6.3125rem;
}

.sliderShort .slick-arrow {
  bottom: -4.6875rem;
}

.slider .slick-arrow {
  background-image: url(../img/arrow.svg);
}

.slider.slider-wh .slick-arrow {
  background-image: url(../img/arrow-wh.svg);
}

.slick-arrow {
  font-size: 0;
  background: none;
  border: none;
  width: 2.125rem;
  height: 2.75rem;
  position: absolute;
  z-index: 3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.slick-arrow.slick-disabled {
  opacity: .25;
}

.slick-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -3.75rem;
}

.slick-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots li:not(:last-child) {
  margin-right: .625rem;
}

.slick-dots button {
  background: #514947;
  border-radius: .1875rem;
  width: .9375rem;
  height: .9375rem;
  font-size: 0;
  border: none;
  opacity: .25;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  padding: 0;
}

.slick-dots .slick-active button {
  opacity: 1;
}

.sliderMobile {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: .833333333vw;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Roboto Mono', 'Pobeda', 'Red October', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EBE5D9;
  color: #514947;
  overflow-x: hidden;
}

body.fix {
  overflow: hidden;
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
}

.container {
  padding: 0 21.5625rem;
  width: 100%;
}

.textRed {
  color: #C93E20;
}

button.btn {
  font-size: 1.375rem;
  font-family: 'Pobeda', sans-serif;
  border: none;
  padding: 1.125rem 3.75rem .9375rem 3.75rem;
  line-height: 1.375rem;
  font-weight: bold;
  color: #fff;
  -webkit-clip-path: polygon(0 0, 93% 0, 100% 100%, 7% 100%);
          clip-path: polygon(0 0, 93% 0, 100% 100%, 7% 100%);
}

.btnRed {
  background-color: #C93E20;
}

.btnBlack {
  background-color: #514947;
}

h2.section-title {
  font-family: 'Red October', sans-serif;
  line-height: 3.375rem;
  font-size: 3.375rem;
  letter-spacing: 0.05em;
  color: #514947;
}

.bulletedList {
  padding: 0 0 0 2.5rem;
  list-style: none;
}

.bulletedList li {
  font-family: 'Roboto Mono', 'Roboto', sans-serif;
  position: relative;
  font-size: .875rem;
  line-height: 1.75rem;
}

.bulletedList li:not(:last-child) {
  margin-bottom: 1.875rem;
}

.bulletedList li:before {
  content: '';
  width: 1.25rem;
  height: 1px;
  background: #514947;
  position: absolute;
  left: -2.5rem;
  top: .8125rem;
}

.mob {
  display: none;
}

.header {
  font-family: 'Pobeda', sans-serif;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 0 7.5rem;
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.header.active {
  margin-top: 0;
  margin-bottom: 4rem;
}

.header a {
  color: #514947;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-page {
  margin-right: 7.4375rem;
  font-size: 1.5rem;
}

.header .nav-page a:not(:last-child) {
  margin-right: 1.875rem;
}

.header .nav-page a {
  white-space: nowrap;
}

.header .logo {
  margin-right: 19.875rem;
}

.header .logo img {
  height: 8rem;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.header .logo img.active {
  -webkit-transform: scale(0.5) translateY(0.625rem);
      -ms-transform: scale(0.5) translateY(0.625rem);
          transform: scale(0.5) translateY(0.625rem);
}

.header .nav-block {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header .nav-block,
.header .nav-block a {
  white-space: nowrap;
}

.header .nav-block:first-child {
  padding-right: 1.875rem;
}

.header .nav-block:nth-child(2) {
  padding: 1.25rem 1.875rem;
  margin: 0;
  position: relative;
}

.header .nav-block:nth-child(2):after,
.header .nav-block:nth-child(2):before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #514947;
  top: 0;
}

.header .nav-block:nth-child(2):after {
  right: 0;
}

.header .nav-block:nth-child(2):before {
  left: 0;
}

.header .nav-block:last-child {
  padding-left: 1.875rem;
}

.header .tel {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.header .social-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .social-links li:not(:last-child) {
  margin-right: 1.25rem;
}

.header .social-links li,
.header .social-links img {
  width: 1.125rem;
  height: 1.125rem;
}

.header .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header .cart img {
  width: 1.625rem;
  height: 1.5rem;
}

.header .cart:before {
  content: attr(data-index);
  font-family: 'Roboto Mono', sans-serif;
  padding: .125rem .1875rem;
  background-color: #514947;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  font-size: .5625rem;
  line-height: .5rem;
  border-radius: 50%;
  bottom: .9375rem;
  right: 0;
}

.section .p-bold {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0 0 1.875rem 0;
  font-family: 'Roboto Mono', sans-serif;
}

.section .paragraph {
  font-size: .875rem;
  line-height: 1.75rem;
  font-family: 'Roboto Mono', sans-serif;
}

.section {
  position: relative;
  overflow-x: clip;
}

.section-calendars {
  margin-top: 3.75rem;
}

.section-calendars .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}

.section-calendars h2.section-title {
  margin: 0 0 1.875rem 0;
}

.section-calendars p.paragraph {
  margin: 0 0 3.75rem 0;
}

.section-calendars img {
  width: 29.1875rem;
  margin-left: 8.3125rem;
}

.section-calendars #circle0 {
  z-index: 0;
  width: 60.625rem;
  position: absolute;
  right: -15.75rem;
  top: 4.25rem;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.section-calendars #circle1 {
  position: absolute;
  z-index: 0;
  top: 14.6875rem;
  right: 18.5625rem;
  width: 15.9375rem;
  height: 15.9375rem;
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
  margin: 0;
}

.section-calendars #calBlur1 {
  position: absolute;
  z-index: 0;
  top: 7.8125rem;
  left: -6rem;
  width: 11.625rem;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  margin: 0;
}

.section-search {
  margin-top: 7.5rem;
}

.section-search .trigers {
  position: relative;
  padding: 2.625rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-search .trigers .triger:not(:last-child) {
  margin-right: 3.75rem;
}

.section-search .trigers .triger {
  width: 11.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.section-search .trigers img {
  width: 3.3125rem;
  margin-right: 1.25rem;
}

.section-search .trigers h3 {
  font-family: 'Pobeda', sans-serif;
  font-size: 1.5rem;
  line-height: 100%;
  margin: 0;
  color: #fff;
}

.section-search .trigers:before {
  content: '';
  width: 63.75rem;
  height: 10.5rem;
  background-image: url("../img/rectangle.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 6.5625rem;
}

.section-search .searchBox {
  margin-top: 8.125rem;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-search .searchBox input,
.section-search .searchBox button {
  position: relative;
  z-index: 1;
  width: 13.125rem;
  height: 3.4375rem;
}

.section-search .searchBox input {
  border: 0.1875rem solid #514947;
  padding: 1.125rem 1.25rem .8125rem 1.25rem;
  font-family: 'Pobeda', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #AEA59A;
  background: #EBE5D9;
  font-weight: bold;
  margin-right: 1.875rem;
}

.section-search .searchBox:before {
  content: '';
  width: 76.875rem;
  height: 20.125rem;
  background-image: url("../img/BGpaper1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  z-index: 0;
  top: -7.125rem;
  left: 0;
}

.section-search .products {
  padding: 0 6.5rem;
  position: relative;
  z-index: 1;
  margin-top: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.section-search .product {
  width: calc(100% / 3 - (2.75rem * 2) / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 0 1.875rem 1.25rem 1.875rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#D9CEBB), to(rgba(217, 206, 187, 0)));
  background: -o-linear-gradient(bottom, #D9CEBB 0%, rgba(217, 206, 187, 0) 100%);
  background: linear-gradient(0deg, #D9CEBB 0%, rgba(217, 206, 187, 0) 100%);
}

.section-search .product:not(:nth-child(3n)) {
  margin-right: 2.375rem;
}

.section-search .product:first-child,
.section-search .product:nth-child(2),
.section-search .product:nth-child(3) {
  margin-bottom: 2.375rem;
}

.section-search .product img {
  width: 15.9375rem;
  height: 18.75rem;
}

.section-search .product h3 {
  padding: .5rem 0 .25rem 0;
  font-family: 'Pobeda', sans-serif;
  font-size: 1.75rem;
  line-height: 100%;
  margin: -.875rem 0 .6875rem 0;
  width: 100%;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(-11.76%, rgba(217, 206, 187, 0)), color-stop(49.65%, #D9CEBB), color-stop(111.37%, rgba(217, 206, 187, 0)));
  background: -o-linear-gradient(left, rgba(217, 206, 187, 0) -11.76%, #D9CEBB 49.65%, rgba(217, 206, 187, 0) 111.37%);
  background: linear-gradient(90deg, rgba(217, 206, 187, 0) -11.76%, #D9CEBB 49.65%, rgba(217, 206, 187, 0) 111.37%);
}

.section-search .product .size {
  font-size: 'Roboto', sans-serif;
  font-size: .875rem;
  line-height: .875rem;
  letter-spacing: .03em;
  color: #514947;
  margin: 0 0 5.1875rem 0;
}

.section-search .product .size:before {
  content: 'Габариты:';
  margin-right: .625rem;
}

.section-search .product .desc {
  margin: 0;
  position: absolute;
  top: 22.6875rem;
  font-size: .875rem;
  line-height: .875rem;
  letter-spacing: .03em;
  font-size: 'Roboto', sans-serif;
  color: #514947;
  opacity: .5;
}

.section-search .product .link {
  position: relative;
}

.section-search .product .link:hover .line {
  height: 1.625rem;
}

.section-search .product .line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #514947;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  left: 0;
}

.section-search .product .lineUp {
  top: 0;
}

.section-search .product .lineDown {
  bottom: 0;
}

.section-search .product .price {
  position: relative;
  z-index: 0;
  color: #514947;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  font-family: 'Pobeda', sans-serif;
  position: absolute;
  top: .9375rem;
  left: 6.4375rem;
}

.section-search .product .toCart {
  position: relative;
  z-index: 1;
  opacity: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .9375rem 1.25rem .875rem 1.25rem;
  background: #514947;
  width: 15.9375rem;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  font-size: 1.125rem;
  font-family: 'Pobeda', sans-serif;
  font-weight: bold;
  border: none;
}

.section-search .product .toCart img {
  height: 1.5rem;
  width: 1.625rem;
}

.section-search .product .toCart:hover {
  opacity: 1;
}

.section-search .product .toCart:before {
  content: '';
  width: 1px;
  height: 2.125rem;
  position: absolute;
  top: .625rem;
  right: 4rem;
  background: #fff;
}

.section-gift {
  margin-top: 8.625rem;
}

.section-gift .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.section-gift .bulletedList {
  margin: 0;
  width: 36rem;
}

.section-gift h2.section-title {
  margin: 0 0 2.625rem 0;
  line-height: 4.625rem;
}

.section-gift .imgColumn {
  position: absolute;
  z-index: 2;
  width: 56.1875rem;
  right: -11.8125rem;
}

.section-gift #sun1 {
  position: absolute;
  z-index: 0;
  top: -4.0625rem;
  left: 55.3125rem;
  width: 25.125rem;
}

.section-wrapper {
  margin-top: 13.375rem;
}

.section-wrapper h2.section-title {
  margin: 0 0 3.125rem 0;
}

.section-wrapper .container {
  position: relative;
}

.section-wrapper .slide {
  color: #514947;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/BGslide.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  background: -webkit-gradient(linear, left bottom, left top, from(#D9CEBB), to(rgba(217, 206, 187, 0)));
  background: -o-linear-gradient(bottom, #D9CEBB 0%, rgba(217, 206, 187, 0) 100%);
  background: linear-gradient(0deg, #D9CEBB 0%, rgba(217, 206, 187, 0) 100%);
  padding: 0 1.875rem 2.0625rem 1.875rem;
  margin: 0 .9375rem;
}

.section-wrapper .slide h3 {
  font-family: 'Pobeda', sans-serif;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 100%;
  margin: 2.125rem 0 0 0;
}

.section-wrapper .slide img {
  width: 15.9375rem;
}

.section-reviews {
  margin-top: 12.5rem;
}

.section-reviews .container {
  position: relative;
  z-index: 1;
}

.section-reviews h2.section-title {
  margin: 0 0 5rem 0;
  text-align: center;
}

.section-reviews .reviewsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-reviews .review {
  width: calc(100% / 2 - 1.875rem / 2);
  border: 0.1875rem solid #514947;
  padding: 2.5rem;
  position: relative;
  background: #EBE5D9;
}

.section-reviews .review:first-child,
.section-reviews .review:nth-child(2) {
  margin-bottom: 1.875rem;
}

.section-reviews .review:before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../img/quoteRed.svg);
  background-position: center;
  background-size: contain;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
}

.section-reviews p.name {
  font-family: 'Red October', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: .03em;
  margin: 0 0 1.25rem 0;
}

.section-reviews p.text {
  margin: 0;
  font-family: 'Roboto', 'Roboto Mono', sans-serif;
  font-style: italic;
  font-size: .875rem;
  line-height: 1.75rem;
  letter-spacing: .03em;
}

.section-reviews .slider .slick-prev {
  left: 31.5rem;
}

.section-reviews .slider .slick-next {
  right: 31.5rem;
}

.section-reviews .slider .slick-dots {
  left: 34.875rem;
}

.section-reviews #quote1 {
  position: absolute;
  z-index: 0;
  top: -10.875rem;
  left: 14.9375rem;
  width: 14rem;
}

.section-reviews #quote2 {
  position: absolute;
  z-index: 0;
  top: -7.3125rem;
  left: 87.875rem;
  width: 20.875rem;
}

.section-reviews #quote3 {
  position: absolute;
  z-index: 0;
  bottom: -23.3125rem;
  left: -8.25rem;
  width: 42rem;
}

.footer {
  position: relative;
  overflow-x: clip;
  margin-top: 24.3125rem;
  background-color: #514947;
  padding-top: 11rem;
  padding-bottom: 2.5rem;
  color: #fff;
}

.footer .logo {
  position: absolute;
  top: -5.6875rem;
  left: 53.6875rem;
}

.footer .logo img {
  width: 12.6875rem;
}

.footer a {
  color: #fff;
}

.footer:before {
  content: '';
  width: 23.9375rem;
  height: 23.9375rem;
  border-radius: 50%;
  background-color: #514947;
  position: absolute;
  z-index: 0;
  top: -10.875rem;
  left: 48.0625rem;
}

.footer nav,
.footer hr {
  position: relative;
  z-index: 1;
}

.footer .nav-page {
  margin-bottom: 4.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .nav-page a:not(:last-child) {
  margin-right: 1.875rem;
}

.footer .nav-page a {
  font-family: 'Pobeda', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.footer hr {
  margin: 0 0 2.5rem 0;
  border-color: #EBE5D9;
  border-top: none;
  border-left: none;
  border-right: none;
}

.footer .bottomUI {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .copyright {
  font-family: 'Pobeda', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.footer nav.nav-socLinks a:not(:last-child) {
  margin-right: 1.5rem;
}

.footer nav.nav-socLinks a img {
  width: 1.25rem;
  height: 1.25rem;
}

.popupCart {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: #514947;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popupCart.opened {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.popupCart .popup {
  padding: 2.5rem;
  background: #EBE5D9;
  text-align: center;
  font-family: 'Pobeda', sans-serif;
  font-weight: bold;
}

.popupCart .message {
  font-size: 1.75rem;
  line-height: 100%;
  margin: 0 0 1.875rem 0;
}

.popupCart button,
.popupCart a {
  padding: 1.125rem 2.5rem .8125rem 2.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #fff;
  display: inline-block;
  border: none;
  font-family: 'Pobeda', sans-serif;
  font-weight: bold;
}

.popupCart a:nth-child(2) {
  margin-right: 2.1875rem;
}

@media (max-width: 480px) {
  .sliderLong:before,
  .sliderLong:after {
    display: none;
  }

  .sliderLong .slick-arrow {
    top: inherit;
    bottom: -4.4375rem;
  }

  .sliderLong .slick-prev {
    left: 8.25rem;
  }

  .sliderLong .slick-next {
    right: 8.25rem;
  }

  .sliderShort .slick-arrow {
    bottom: -4.4375rem;
  }

  .slick-arrow {
    width: 1.5rem;
  }

  .slick-dots {
    width: .9375rem;
    height: .9375rem;
    bottom: -3.5rem;
    left: 11.5rem;
  }

  .sliderPC {
    display: none;
  }

  .sliderMobile {
    display: block;
  }

  html {
    font-size: 3.333333333vw;
  }

  .container {
    padding: 0 1.25rem;
  }

  button.btn {
    font-size: 1.125rem;
    padding: .8125rem 2.5rem .625rem 2.5rem;
  }

  h2.section-title {
    line-height: 1.75rem;
    font-size: 1.75rem;
  }

  .bulletedList {
    padding: 0 0 0 1.875rem;
  }

  .bulletedList li {
    font-size: .75rem;
    line-height: 1.625rem;
  }

  .bulletedList li:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .bulletedList li:before {
    left: -1.875rem;
    top: .75rem;
  }

  .pc {
    display: none;
  }

  .mob {
    display: inherit;
  }

  .menu.mob {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    padding: 4rem 4rem 1.875rem 4rem;
    height: 85%;
    background: #EBE5D9;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Pobeda', sans-serif;
    font-weight: bold;
    display: none;
  }

  .menu.mob.opened {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .menu.mob .nav-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3.75rem;
  }

  .menu.mob .nav-page a {
    color: #514947;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .menu.mob .nav-page a:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .menu.mob .nav-block.tel {
    margin-bottom: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    color: #514947;
    margin-bottom: 1.875rem;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: bold;
  }

  .menu.mob .nav-block.tel:before {
    content: '';
    width: 3.625rem;
    margin-bottom: 2.5rem;
    height: 1px;
    display: block;
    background: #514947;
  }

  .menu.mob .nav-block.social-links {
    margin-bottom: auto;
  }

  .menu.mob .nav-block.social-links a:not(:last-child) {
    margin-right: 1.875rem;
  }

  .menu.mob .nav-block.social-links a img {
    width: 1.125rem;
    height: 1.125rem;
  }

  .menu.mob .rules {
    margin-top: 1.25rem;
    justify-self: flex-end;
  }

  .menu.mob .rules a:not(:last-child) {
    margin-right: 2.5rem;
  }

  .menu.mob .rules a {
    color: #514947;
    font-size: 1.125rem;
    line-height: 1.125rem;
    opacity: .5;
    font-weight: bold;
  }

  .header {
    padding: 0 3.125rem;
  }

  .header .burger {
    margin-right: 6.3125rem;
    border: none;
    width: 1.5625rem;
    height: .25rem;
    background: #C93E20;
    position: relative;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
  }

  .header .burger:before,
  .header .burger:after {
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
    content: '';
    display: block;
    width: calc(100% + .625rem);
    height: 100%;
    background: #514947;
    position: absolute;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  .header .burger:before {
    top: -.5625rem;
  }

  .header .burger:after {
    bottom: -.5625rem;
  }

  .header .burger.opened {
    background-color: inherit;
  }

  .header .burger.opened:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
  }

  .header .burger.opened:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0;
  }

  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .logo {
    margin-right: 5.6875rem;
  }

  .header .logo img {
    height: 5.625rem;
  }

  .header .nav-block {
    padding: 0;
  }

  .header .nav-page,
  .header .nav-block:first-child,
  .header .nav-block:nth-child(2) {
    display: none;
  }

  .header .nav-block:last-child {
    padding-left: 0;
  }

  .header .cart img {
    width: 2rem;
    height: 1.8125rem;
  }

  .header .cart:before {
    padding: .125rem;
    bottom: 0;
  }

  .section .p-bold {
    font-size: .75rem;
    line-height: 1.625rem;
    margin: 0 0 1.25rem 0;
  }

  .section .paragraph {
    font-size: .625rem;
    line-height: 1.625rem;
  }

  .section-calendars {
    text-align: center;
  }

  .section-calendars .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-calendars h2.section-title {
    margin: 0 0 24.5rem 0;
  }

  .section-calendars p.paragraph {
    margin: 0 0 1.875rem 0;
  }

  .section-calendars img {
    width: 20rem;
    margin-left: 0;
    position: absolute;
    top: 3.625rem;
    left: 5rem;
  }

  .section-calendars #circle0 {
    width: 43.4375rem;
    right: auto;
    left: 10rem;
    opacity: .5;
    top: 10rem;
  }

  .section-calendars #circle1 {
    top: 16rem;
    left: 17.625rem;
    width: 8.25rem;
    height: 8.25rem;
  }

  .section-calendars #calBlur1 {
    top: -1.375rem;
    left: -1.75rem;
    width: 8rem;
  }

  .section-search {
    margin-top: 6.875rem;
  }

  .section-search .trigers {
    display: none;
  }

  .section-search .searchBox {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 0 3.5625rem;
  }

  .section-search .searchBox input,
  .section-search .searchBox button {
    width: 5.9375rem;
    height: 2.8125rem;
  }

  .section-search .searchBox input {
    margin-bottom: 1rem;
    padding: 1rem 1.25rem .9375rem 1.25rem;
    font-size: .875rem;
    line-height: .875rem;
    margin-right: 0;
  }

  .section-search .searchBox input:not(:nth-child(3)) {
    margin-right: 1.25rem;
  }

  .section-search .searchBox button {
    width: 100%;
  }

  .section-search .searchBox:before {
    width: 61.625rem;
    height: 16.3125rem;
    top: -3.125rem;
    left: -15.625rem;
  }

  .section-search .products {
    padding: 0;
    margin-top: 2.5rem;
  }

  .section-search .product {
    width: auto;
    padding: 0 1.25rem 1.5625rem 1.25rem;
  }

  .section-search .product:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .section-search .product:not(:nth-child(2n)) {
    margin-right: 1.25rem;
  }

  .section-search .product:first-child,
  .section-search .product:nth-child(2),
  .section-search .product:nth-child(3) {
    margin-bottom: 0;
  }

  .section-search .product:not(:last-child),
  .section-search .product:not(:nth-child(n - 1)) {
    margin-bottom: 1.25rem;
  }

  .section-search .product img {
    width: 10.625rem;
    height: 12.5rem;
  }

  .section-search .product h3 {
    font-size: 1rem;
    line-height: 1rem;
    margin: -.625rem 0 .875rem 0;
  }

  .section-search .product .size {
    font-size: .75rem;
    line-height: .75rem;
    margin: 0 0 3.75rem 0;
  }

  .section-search .product .desc {
    top: 16rem;
    font-size: .625rem;
    line-height: .625rem;
  }

  .section-search .product .link {
    width: 100%;
  }

  .section-search .product .link:hover .line {
    height: 1px;
  }

  .section-search .product .price {
    font-size: 1rem;
    line-height: 1rem;
    position: initial;
    text-align: center;
    padding: .9375rem 0;
    margin-bottom: 1rem;
  }

  .section-search .product .lineDown {
    top: 2.875rem;
  }

  .section-search .product .toCart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 1;
    padding: .9375rem .9375rem .875rem .9375rem;
    width: 100%;
  }

  .section-search .product .toCart img {
    display: none;
  }

  .section-search .product .toCart:hover {
    opacity: 1;
  }

  .section-search .product .toCart:before {
    display: none;
  }

  .section-gift {
    margin-top: 6.25rem;
  }

  .section-gift .bulletedList {
    width: 100%;
  }

  .section-gift h2.section-title {
    margin: 0 0 33.125rem 0;
    line-height: 2.375rem;
    text-align: center;
    font-size: 1.6875rem;
  }

  .section-gift .imgColumn {
    width: calc(100% + 3.25rem * 2);
    right: -3.25rem;
    top: 6.625rem;
  }

  .section-gift #sun1 {
    top: -2.625rem;
    left: 11.8125rem;
    width: 25.125rem;
  }

  .section-wrapper {
    margin-top: 5.625rem;
  }

  .section-wrapper h2.section-title {
    margin: 0 0 1.875rem 0;
  }

  .section-wrapper .slider {
    margin: 0 -.625rem;
  }

  .section-wrapper .slide {
    padding: 0 1.25rem 1.25rem 1.25rem;
    margin: 0 .625rem;
  }

  .section-wrapper .slide h3 {
    font-size: 1rem;
    line-height: 1rem;
    margin: 1.25rem 0 0 0;
  }

  .section-wrapper .slide img {
    width: 10.625rem;
  }

  .section-reviews {
    margin-top: 10rem;
  }

  .section-reviews h2.section-title {
    margin: 0 0 1.875rem 0;
  }

  .section-reviews .slider {
    margin: 0 -1.25rem;
  }

  .section-reviews .reviewsBlock {
    margin: 0 1.25rem;
    display: block;
    border: 0.1875rem solid #514947;
    padding: 2.5rem 1.875rem;
    position: relative;
    background: #EBE5D9;
  }

  .section-reviews .reviewsBlock:before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../img/quoteRed.svg);
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 1.875rem;
    top: 1.875rem;
  }

  .section-reviews p.name {
    font-size: 1.125rem;
    line-height: 1.125rem;
  }

  .section-reviews p.text {
    font-size: .75rem;
    line-height: 1.625rem;
  }

  .section-reviews .slider .slick-prev {
    left: 10.1875rem;
  }

  .section-reviews .slider .slick-next {
    right: 10.1875rem;
  }

  .section-reviews .slider .slick-dots {
    left: 12.25rem;
  }

  .section-reviews #quote1 {
    top: -5.375rem;
    left: 17.25rem;
    width: 14rem;
  }

  .section-reviews #quote2 {
    display: none;
  }

  .section-reviews #quote3 {
    bottom: -12.5625rem;
    left: -13.75rem;
    width: 20.875rem;
  }

  .footer {
    margin-top: 15.5625rem;
    padding-top: 4.8125rem;
    padding-bottom: 3.5625rem;
  }

  .footer .logo {
    display: block;
    top: -3.75rem;
    left: 11rem;
  }

  .footer .logo img {
    width: 8rem;
  }

  .footer:before {
    width: 10.9375rem;
    height: 10.9375rem;
    top: -5.5rem;
    left: 9.5rem;
  }

  .footer nav,
  .footer hr,
  .footer a {
    display: none;
  }

  .footer .nav-page {
    display: none;
  }

  .footer .bottomUI {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 1;
  }

  .footer .copyright {
    font-size: 1rem;
    line-height: 1rem;
  }

  .popupCart .popup {
    width: calc(100% - 1.25rem * 2);
  }

  .popupCart .message {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .popupCart button,
  .popupCart a {
    padding: .875rem 2.5rem .8125rem 2.5rem;
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.125rem;
  }

  .popupCart a:nth-child(2) {
    margin-right: 0;
    margin-bottom: .625rem;
  }
}